@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: rgb(127, 125, 125);
  --secondary-color: #111111;
  --secondary-color-light: #232220;
  --text-light: #a3a3a3;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
}

.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.section__subheader::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  z-index: -1;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  outline: none;
  font-size: 1rem;
  color: var(--black);
  border-radius: 5px;
  cursor: pointer;
}

.btn__secondary {
  background-color: white;
  border: 1px solid var(--white);
}

.btn__primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn span {
  font-size: 1.2rem;
  transition: 0.3s;
}

.btn:hover span {
  transform: translateX(5px);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

header {
  background-image: linear-gradient(
      to right,
      rgba(0.5, 0.5, 0.5, 0.5),
      rgba(0.6, 0, 0, 0.6)
    ),
    url("images/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem; /* Adjust padding to prevent text from being cut off */
}

nav {
  width: 100%; /* Full width */
    background-color: white; /* Set the background to white */
    color: black; /* Set the text color to black */
    padding: 1rem 2rem; /* Padding for spacing */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
    display: flex;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center; /* Vertically center */
}

.nav__logo img {
  max-width: 150px; /* Adjust the size of the logo */
  height: auto; /* Maintain the aspect ratio */
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.nav__menu__btn {
  display: none;
  font-size: 1.5rem;
}

.book-demo-button {
  display: inline-block;
  padding: 10px 20px;
  color: white !important;
  background-color: #1E85D0; /* Adjust this to match the button color */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-color:var(--white)
  
}

.book-demo-button:hover {
  background-color: #0056b3; /* Darker shade for hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.book-demo-button:after {
  content: "→"; /* Arrow icon */
  margin-left: 8px;
}


.header__container {
  padding-block: 5rem 12rem;
}

/* Additional Logo Styling */
.additional-logo {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  margin-bottom: 1rem; /* Add space below the logo */
}

.additional-logo img {
  margin-top: 110px;
  max-width: 250px; /* Adjust the size of the logo */
  height: auto; /* Maintain the aspect ratio */
}

.header__container h1 {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  font-family: Montserrat;
}

.header__container h2 {
  max-width: 1400px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  font-family: Montserrat;
}

.header__container .btn {
  margin: auto;
}

/* Feature Section */
.feature-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 20px;
  gap: 30px;
}

/* Feature Cards Container (Left side) */
.feature-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
  justify-content: space-between; /* Ensure even spacing between cards */
  
}

/* Feature Cards */
.feature-card {
  flex: 1 1 calc(50% - 30px);
  background-color: #fff;
  padding: 20px;
  font-family: Montserrat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid rgb(191, 187, 187); /* Add border here */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px; /* Space below each card */
}

.feature-card {
  margin-left: 10px; /* Adds distance from the left side */
  margin-right: 10px; /* Adds distance from the right side */
}

.feature-card h3 {
  font-size: 1.5rem;
  margin-bottom: 50px;
  font-weight: 700;
  color: black;
}

.feature-card p {
  font-size: 1rem;
  color: #555;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: var(--black); /* Border color changes to primary color */
}

/* Main Feature (Right side) */
.feature-main {
  width: 40%;
  text-align: left;
  margin-top: 170px; /* Add some top margin to create space between cards */
}

.feature-main h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Montserrat;
  color: black; /* Changed to white color */
  line-height: 1.5;
}

.feature-main p {
  font-size: 1rem;
  font-family: Montserrat;
  color: black; /* Changed to white color */
  line-height: 1.5;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .feature-card {
    flex: 1 1 calc(50% - 30px);
  }
  .feature-main {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .feature-card {
    flex: 1 1 100%;
  }
  .feature-main {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
}

.feature-section-part3 {
  background-color: #024A7E;
}

/* Sky Blue Line Above the Content */
.sky-blue-line-part3 {
  width: 100%;
  height: 20px; /* Adjust the height of the line */
  background-color: #87CEEB; /* Sky blue color */
  margin-top: 0; /* Ensure no space above */
  margin-bottom: 0px; /* Optional space below the line */
}

.feature-section-part3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

.feature-main-part3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.feature-card-part3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: none; /* Remove the box shadow */
  background-color: #024A7E; /* Blue background color */
  color: #fff; /* White text */
}

.feature-img-part3 {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 45%;
}

.feature-text-part3 {
  max-width: 45%;
}

.feature-text-part3 h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff; /* White text */
  margin-bottom: 20px;
  font-family: Montserrat;
}

.main-heading-part3 {
  font-size: 2.5rem;
  color: #fff; /* White text */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.feature-text-part3 p {
  font-size: 1.2rem;
  color: white; /* White text */
  line-height: 1.6;
}

.feature-text-part3 {
  text-align: left;
}

/* For small screen sizes */
@media (max-width: 1024px) {
  .feature-card-part3 {
      flex-direction: column;
      align-items: flex-start;
  }

  .feature-img-part3 {
      max-width: 100%;
      margin-bottom: 20px;
  }

  .feature-text-part3 {
      max-width: 100%;
  }
}

@media (max-width: 768px) {
  .feature-card-part3 {
      flex-direction: column;
      gap: 20px;
  }

  .feature-img-part3 {
      width: 100%;
      height: auto;
  }

  .feature-text-part3 h3 {
      font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .feature-text-part3 p {
      font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .main-heading-part3 {
      font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
}

.white-line-part3 {
  width: 100%;
  height: 8px; /* Adjust the height of the line */
  background-color: white; /* Sky blue color */
  margin-top: 0; /* Ensure no space above */
  margin-bottom: 0px; /* Optional space below the line */
}

.part4-why-choose-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #024A7E;
  padding: 0 20px;
}

.part4-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.part4-text-content {
  flex: 1;
  color: #fff;
}

.part4-text-content .part4-main-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.part4-text-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.part4-feature-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.part4-feature-list li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px; /* To make space for the checkmark */
}

.part4-feature-list li::before {
  content: '\2713'; /* Unicode checkmark symbol */
  position: absolute;
  left: 0;
  top: 0;
  color: #87CEEB; /* Sky blue color */
  font-size: 1.5rem;
}

.part4-cta-button {
  font-size: 1.2rem;
  background-color: white; /* Sky blue */
  color: #024A7E;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.part4-cta-button span {
  margin-left: 10px;
}

.part4-cta-button:hover {
  background-color: #4f9bc3; /* Darker shade on hover */
}

/* Image content */
.part4-image-content {
  flex: 1;
  text-align: right;
}

.part4-mining-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .part4-container {
      flex-direction: column;
      text-align: center;
  }

  .part4-image-content {
      margin-top: 20px;
  }

  .part4-cta-button {
      margin-top: 20px;
  }
}

.contact-section {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #024A7E;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.contact-item {
  background-color: #1E3A58; /* Dark blue background for each section */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.contact-item p {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 20px;
}

.contact-item a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact-item a:hover {
  text-decoration: underline;
}

.contact-item ul {
  list-style: none;
  padding-left: 0;
}

.contact-item ul li {
  margin-bottom: 10px;
}

/* Arrow before the text in the Popular Links section */
.arrow {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #87CEEB; /* Sky blue color */
}

/* Map Styling */
.contact-map-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Input and Button Styling for Email */
.email-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email-input {
  padding: 10px;
  width: 80%;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.submit-button {
  padding: 10px 15px;
  background-color: #87CEEB; /* Sky blue */
  color: #024A7E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #4f9bc3; /* Darker shade on hover */
}

/* Responsive design: Stacking on smaller screens */
@media (max-width: 768px) {
  .contact-container {
      grid-template-columns: 1fr; /* Stacks the columns on smaller screens */
      text-align: center;
  }

  .contact-item {
      margin-bottom: 20px;
  }

  .email-input-wrapper {
      flex-direction: column;
      align-items: center;
  }
}



@media (width < 600px) {
  nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    z-index: 99;
  }

  .nav__links {
    position: absolute;
    left: 0;
    top: 68px;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav__links .link a {
    opacity: 0;
  }

  .nav__links.open .link a {
    opacity: 1;
  }

  .nav__links.open {
    transform: scaleY(1);
  }

  .nav__menu__btn {
    display: block;
  }

  .header__container h1 {
    margin-top: 4rem;
    font-size: 3.5rem;
  }

  .stats__image {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container form {
    flex-direction: column;
  }

  .subscribe__container .btn {
    width: 100%;
  }
}
